# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/.vs/src/CopilotIndices/17.14.1653.19549/CodeChunks.db
src/.vs/src/CopilotIndices/17.14.1653.19549/CodeChunks.db-shm
src/.vs/src/CopilotIndices/17.14.1653.19549/CodeChunks.db-wal
src/.vs/src/CopilotIndices/17.14.1653.19549/SemanticSymbols.db
src/.vs/src/CopilotIndices/17.14.1653.19549/SemanticSymbols.db-shm
src/.vs/src/CopilotIndices/17.14.1653.19549/SemanticSymbols.db-wal
src/.vs/src/FileContentIndex/8a81fba4-6c8f-4e59-add8-a8ef66682c7b.vsidx
src/.vs/src/FileContentIndex/bff75206-25b6-4699-94e1-ea94ed03068c.vsidx
src/.vs/slnx.sqlite
src/.vs/src/FileContentIndex/dd7981e1-ac86-48c9-ba1b-0c1b12cd186d.vsidx
src/.vs/src/FileContentIndex/1cfd6d88-6739-4a2b-b859-e0fc7b3eab90.vsidx
src/.vs/src/FileContentIndex/105117d2-5e62-48dd-a20e-43a461bb45ad.vsidx
src/.vs/src/FileContentIndex/09c5f43e-552d-4b2f-bfb5-617aa43abeeb.vsidx
src/.vs/src/FileContentIndex/8a3a1a0a-279b-4cb1-b535-a3ba6f97e039.vsidx
src/.vs/src/FileContentIndex/5fbdd1cb-f101-4d68-99c9-307c10c093ad.vsidx
src/.vs/src/FileContentIndex/6bea180e-fee3-4679-8021-7f5a4f67ed66.vsidx
src/.vs/src/FileContentIndex/9b1a2254-092b-4f73-a72b-2721f1140d7c.vsidx
src/.vs/src/FileContentIndex/92572612-c9aa-4558-9422-708db6ea04b5.vsidx
src/.vs/src/FileContentIndex/a98051bd-5f4c-4174-b2bb-436cd25110c0.vsidx
src/.vs/src/FileContentIndex/2a68ee98-47d1-4643-b64c-8718ff2c48a3.vsidx
src/.vs/src/FileContentIndex/713296e8-6f95-4d5b-b91a-e61daf642425.vsidx
src/.vs/src/FileContentIndex/3c0cec05-025c-43f3-a402-0df91eef63a2.vsidx
src/.vs/src/FileContentIndex/0d9a75e9-12ce-408e-b7e1-1caeec27b004.vsidx
src/.vs/src/FileContentIndex/54a62f14-9283-4f62-a84e-29eb2c3b2f4b.vsidx
src/.vs/src/FileContentIndex/1449054e-808b-4c4d-98a6-8638aa2c5d9e.vsidx
