# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/.vs/src/CopilotIndices/17.14.1653.19549/CodeChunks.db
src/.vs/src/CopilotIndices/17.14.1653.19549/CodeChunks.db-shm
src/.vs/src/CopilotIndices/17.14.1653.19549/CodeChunks.db-wal
src/.vs/src/CopilotIndices/17.14.1653.19549/SemanticSymbols.db
src/.vs/src/CopilotIndices/17.14.1653.19549/SemanticSymbols.db-shm
src/.vs/src/CopilotIndices/17.14.1653.19549/SemanticSymbols.db-wal
src/.vs/src/FileContentIndex/8a81fba4-6c8f-4e59-add8-a8ef66682c7b.vsidx
src/.vs/src/FileContentIndex/bff75206-25b6-4699-94e1-ea94ed03068c.vsidx
src/.vs/slnx.sqlite
src/.vs/src/FileContentIndex/dd7981e1-ac86-48c9-ba1b-0c1b12cd186d.vsidx
src/.vs/src/FileContentIndex/1cfd6d88-6739-4a2b-b859-e0fc7b3eab90.vsidx
