.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.profile-container * {
  color: #f1f5f9;
}

.profile-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: white;
  width: 300px;
}

.avatar {
  font-size: 50px;
  margin-bottom: 10px;
}

.email {
  color: #94a3b8;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 20px;
}

.Profile-actions button {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.edit-btn {
  background: #3b82f6;
  color: white;
}

.logout-btn {
  background: #ef4444;
  color: white;
}